langchain
langgraph
typing
langchain_core
langchain_openai
python-dotenv
langchain_community
psycopg2-binary
sqlalchemy
pypdf
snowflake-sqlalchemy==1.5.1
snowflake-connector-python==3.12.3
matplotlib
faiss-gpu
faiss-cpu
streamlit-authenticator
cryptography
